snippet incc "Include iostream" b
#include<iostream>$2
using namespace std;

int main()
{
	$1
}
endsnippet

snippet inci "include" b
#include<$1>
endsnippet

snippet q "quote" b
cout << "$1"
endsnippet
